@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Cinzel, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

h1 {
    @apply text-3xl
}

h2 {
    @apply text-2xl mt-4 font-bold
}

h3 {
    @apply text-xl mt-2
}

p {
    @apply text-lg
}

ul {
    @apply list-disc list-inside
}

ol {
    @apply list-decimal list-inside
}

li {
    padding-left: 25px;
    text-indent: -22px;
}

hr {
    @apply border-gray-300 my-4
}

a {
    @apply underline underline-offset-4 hover:text-mabaccent transition-colors duration-200
}
